/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

html{
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(lightblue,blue);
  height: 100vh;
}

header{
  margin-bottom: 30px;
  text-align: center;
}

select{
  font-size: 1rem;
}

.section-container{
  display: flex;
  flex-direction: row;
  padding-right: 10vw;
  padding-left: 10vw;
}

.column{
  flex: 1;
}

img{
  max-width: 900px;
  max-height: 900px;
}

span{
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
}

#dog-name{
  font-size: 2rem;
  text-decoration: none;
}

#left-column{
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
